%h1 Log In
.p 
  First time here? 
  =link_to "Register.", new_user_path

= form_for @user_session, :url => user_sessions_path do |f|
  -if @user_session.errors.any?
    #error_explanation
      %h2= "Incorrect username/password combination"
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit "Login"

= link_to 'Back', games_path
