%h1 Listing games

%table
  %tr
    %th Title
    %th Rating
    %th Date Added
    - if permitted_to? :show, @game
      %th
    - if permitted_to? :edit, @game
      %th
    - if permitted_to? :destroy, @game
      %th

  - @games.each do |game|
    %tr
      %td= game.title
      %td= Rating.find_by_id(game.rating).name
      %td
        = game.created_at 
        by
        = User.find_by_id(game.user_id).fullname
      - if permitted_to? :show, @game
        %td= link_to 'Show', game
      - if permitted_to? :edit, @game
        %td= link_to 'Edit', edit_game_path(game)
      - if permitted_to? :destroy, @game
        %td= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

%br

- if permitted_to? :create, @game
  = link_to 'New Game', new_game_path
